*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
 
/*Styling for Header Section*/
.logo{
    width: 50px;
    z-index: -2;
}
 
.title{
    color: white;
    width: 100px;
}
 
.header-wrapper{
    display: flex;
    justify-content: space-around;
 
}
.header{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
 
/*Styling for Form Section*/
.form-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
 
#inputbox, #submit, .clear{
    padding: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    transition: opacity .15s;
}
 
#submit:hover, .clear:hover{
    opacity: .5;
}
 
#submit, .clear{
    cursor: pointer;
    margin-left: 4px;
}

.clear{
    margin-left: 10px;
}
 
/*Styling for "Now Playing*/
.section-header{
    display: flex;
    background-color: gray;
    margin-top: 40px;
    justify-content: center;
    border-style: groove;
    border-color: #333;
}
 
.optionBtn{
    background-color: black;
    padding: 15px;
    margin: 10px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    transition: opacity .15s, box-shadow .15s;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgba(0,0,0,.8);
}
.optionBtn:hover{
    opacity: .5;
}
 
.optionBtn:active{
    box-shadow: none;
}
 
/*Styling for Movie Area*/
.oneMovie{
    transition: opacity .15s;
}
.oneMovie:hover{
    opacity: .6;
}
 
.movie-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
 
.innerMovieArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    border-style: solid;
    border-width: 3px;
    border-color:#333;
    border-radius: 5px;
}
 
.movie-title, .rating{
    color: white;
    font-size: 14px;
}
 
.rating{
    margin-bottom: 5px;
    margin-top: 5px;
}
 
.movie-title{
    width: 200px;
}
 
.show-more{
    background-color: rgba(158, 158, 158, 0.9);
    padding: 5px;
    cursor: pointer;
    transition: opacity .15s;
    font-size: 16px;
}
.show-more:hover{
    opacity: .8;
}


/*Styling for Footer*/
.footer{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
 
.getMore{
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .15s;
}
 
.getMore:hover{
    opacity:.5;
}
 
/*Footer Styling*/
.closed{
    display: none;
}
 
.closed-1{
    display: none;
}
 
.info-box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    width: 500px;
    height: 500px;
    background-color: white;
}
 
.info-header{
    display: flex;
    justify-content: space-between;
}



/*Pop Up Area*/
.pop-up{
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.close{
    padding: 10px;
    
}
.content{
    display: flex;
    flex-direction: column;
}
.desc{
    color: white;
    width: 700px;
}
 
.popup-header{
    display: flex;
    justify-content: space-between;
}
 
/*Pop up styling*/
/*Styling pop up box from W3Schools*/
.box{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,.9); /* Black w/ opacity */
}
.content{
    align-items: center;
    margin-top: 100px;
}
 
.closeBtn{
    padding: 10px;
    cursor: pointer;
    margin-left: 500px;
}
 
.desc{
    width: 550px;
    line-height: 1.5;
    font-size: 20px;
    color: white;
}
 
.title-1{
    margin-top: 20px;
    overflow: auto;
    margin-bottom: 10px;
    color: white;
}
.release{
    color: white;
}


.form-section{
    display: flex;
    justify-content: space-around;
}




